
<aside>
    Sommaire
    <div>
        <ul>
            <li>login</li>
            <li>logout</li>
            <li>login with google</li>
            <li>Ajouter un objet</li>
            <li>rechercher un objet</li>
            <li>suprimmer un objet</li>
            <li>Mettre a jour un objet</li>
            <li>lister les objets</li>
        </ul>
    </div>
</aside>