
<aside>
    somaire
    <div>
        <a href="">Authentification</a>
        <ul>
            <li>login</li>
            <li>logout</li>
            <li>login with google</li>
        </ul>
    </div>
</aside>