
<link rel="stylesheet" href="/css/topbar.css">
<div class="top-bar-container">
    <img src="images/logo.png" alt="freelost png" class="logo"> 
    <div class="logo-text">API DOC</div>
    <form action="">
        <div class="search">
            <input type="search" placeholder="rechercher dans la documentation freelost API">
            <input type="submit" value="chercher">
        </div>
    </form>
</div>
<div class="trait"></div>