<!--
 API Documentation HTML Template  - 1.0.1
 Copyright © 2016 Florian Nicolas
 Licensed under the MIT license.
 https://github.com/ticlekiwi/API-Documentation-HTML-Template
 !-->
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Freelost API - Documentation</title>
    <meta name="description" content="">
    <meta name="author" content="ticlekiwi">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/hightlightjs-dark.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css" media="all">
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div class="left-menu">
    <div class="content-logo">
        <div class="logo">
            <img alt="platform by Emily van den Heever from the Noun Project" title="platform by Emily van den Heever from the Noun Project" src="images/logo.png" height="60" />
            <span>API Documentation</span>
        </div>
        <button class="burger-menu-icon" id="button-menu-mobile">
            <svg width="34" height="34" viewBox="0 0 100 100">
                <path class="line line1"
                    d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058">
                </path>
                <path class="line line2" d="M 20,50 H 80"></path>
                <path class="line line3"
                    d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942">
                </path>
            </svg>
        </button>
    </div>
    <div class="mobile-menu-closer"></div>
    <div class="content-menu">
        <div class="content-infos">
            <div class="info"><b>Version:</b> 1.0</div>
            <div class="info"><b>Dernière mise à jour :</b> 17 Juil, 2022</div>
        </div>
        <ul>
            <li class="scroll-to-link active" data-target="commencer">
                <a>Commencer</a>
            </li>
            <li class="scroll-to-link" data-target="authentification">
                <a>Authentification</a>
            </li>
            <li class="scroll-to-link" data-target="users">
                <a>Les Utilisateurs</a>
            </li>
            <li class="scroll-to-link" data-target="objects">
                <a>Les Objets </a>
            </li>
            <li class="scroll-to-link" data-target="errors">
                <a>Les Erreurs</a>
            </li>
        </ul>
    </div>
</div>
<div class="content-page">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section" id="commencer">
            <h1>Commencer</h1>
            <pre>
    Point d'entrée de l' API

    https://freelost-api.kouelab.com/
                </pre>
            <p>
                L'API Freelost permet de faire la gestion des objets perdus, ainsi de pouvoir gérer tout ce qui est associé comme , les utilisateurs, les objets et leur catégorie, les centres de collecte.
            </p>
            <p>
                Pour utiliser cette API, vous avez besoins de  la <strong>Clé de l'API</strong>. Contactez-nous à  <a href="mailto:contact@freelost-api.kouelab.com">contact@freelost-api.kouelab.com</a> pour avoir votre clé d'API.
            </p>
        </div>
        <div class="overflow-hidden content-section" id="authentification">
            <h2>Authentification</h2>
            <pre><code class="bash">
# ici c'est un exemple utilisant auth

auth/sigin
 POST https://freelost-api.kouelab.com/auth/sigin 
                </code></pre>
            <p>
                Pour vous authentifier vous devez envoyer une requête POST avec l'url suivante :<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/google</code> pour se connecter avec google.<br>
                Pour se connecter grâce à l'email et le mot de passe: <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/signin</code> 
            </p>
            <br>
            <pre><code class="json">
Par exemple:

  requête POST:{
    username-> "techsleo@gmail.com",
    mot de passe-> "1234"
  }

  resultat: 
    {   "_id": ObjectId('62ccad588f1b65f689851280),
        "username": "Leo Nguimdo ",
        "email": "techsleo@gmail.com",  
        "password": "$2b$12$nCyH8FLu9TXlJJE9/8K8cum96kYZR.iM0Dq8sQxMOmHL8zB.GxgyO",
        "numero": 237670881225,  
        "avatar": "/images/avatars/1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382.jpg",  
        "__v": 0,  
        "type": "moderateur"
    },
}
                </code></pre>
            <h4>Les paramètres de la requête POST</h4>
            <table class="central-overflow-x">
                <thead>
                <tr>
                    <th>Champ</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>clé_api</td>
                    <td>String</td>
                    <td>Ta clé de l'API.</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>String</td>
                    <td>l'adresse email de celui qui veut se connecter.</td>
                </tr>
                <tr>
                    <td>mot de passe</td>
                    <td>String</td>
                    <td>
                        Le mot de passe de celui veut se connecter 
                    </td>
                </tr>
                </tbody>
            </table>

            <p>
                Pour vous deconnecter vous devez envoyer une requête GET avec l'url suivante :<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/signout</code><br>
            </p>
            <p>
                Lorsqu'un utilisateur effectue une première connexion ou inscription, un cookies de session est crée sur son 
                appareil <br><br>
                Ce dernier n'aura plus besoin de s'authentifier prochainement pour utiliser l'application<br><br>
                les modes de connexion via Facebook et Instagram ne sont pas pleinement operationnels
            </p>
        </div>
        <div class="overflow-hidden content-section" id="users">
            <h2>Les Utilisateurs</h2>
            <pre><code class="bash">
# ici c'est un exemple utilisant users

users/new
 POST https://freelost-api.kouelab.com/users/new
                </code></pre>
            <p>
                Pour creer un nouveau compte vous devez envoyer une requête POST avec l'url suivante :<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/users/new</code><br> 
            </p>
            <br>
            <pre><code class="json">
Par exemple:

  requête POST:{
        username-> "Leo",
        email-> "techsleo@gmail.com"
        password-> "1234",
        numero-> "678654309"
  }

  resultat: 
    {   "_id": ObjectId('62ccad588f1b65f689851280),
        "username": "Leo Nguimdo ",
        "email": "techsleo@gmail.com",  
        "password": "$2b$12$nCyH8FLu9TXlJJE9/8K8cum96kYZR.iM0Dq8sQxMOmHL8zB.GxgyO",
        "numero": 237670881225,  
        "avatar": "/images/avatars/1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382.jpg",  
        "__v": 0,  
        "type": "simple"
    },
}

/users/changeType/:userId
 PATCH >https://freelost-api.kouelab.com/users/changeType/:userId

requête PATCH:{
    type-> "moderateur",
}

resultat: 
{   "_id": ObjectId('62ccad588f1b65f689851280),
    "username": "Brown Nanfa ",
    "email": "nanfabrown12@gmail.com",  
    "password": "$2b$12$nCyH8FLu9TXlJJE9/8K8cum96kYZR.iM0Dq8sQxMOmHL8zB.GxgyO",
    "numero": 237670881225,  
    "avatar": "/images/avatars/1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382.jpg",  
    "__v": 0,  
    "type": "moderateur"
},
}
                </code></pre>
            <h4>Les paramètres de la requête </h4>

            <table class="central-overflow-x">
                <thead>
                <tr>
                    <th>Champ</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>clé_api</td>
                    <td>String</td>
                    <td>Ta clé de l'API.</td>
                </tr>
                <tr>
                    <td>username</td>
                    <td>String</td>
                    <td>le nom d'utilisateur de celui qui veut creer son compte.</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>String</td>
                    <td>l'email de celui qui veut creer son compte.</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>String</td>
                    <td>
                        Le mot de passe de celui veut se connecter 
                    </td>
                </tr>
                <tr>
                    <td>numero</td>
                    <td>Number</td>
                    <td>le numero de celui qui veut creer son compte.</td>
                </tr>
                </tbody>
            </table>
            <p> 
                Pour mettre a jour son avatar dans son profil, vous devez envoyer une requête POST avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/users/update/avatar</code><br> 
            </p>
            <p> 
                Pour qu'un moderateur puisse changer le type d'un utilisateur, il doit envoyer une requête PATCH avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/users/changeType/:userId</code><br> 
            </p>
            <p> 
                Pour qu'un  utilisateur puisse mèttre à jour ses informations,vous devez envoyer une requête PUT avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/users/update/:userId</code><br> 
            </p>
            <p> 
                Pour suppprimer un utilisateur, vous devez envoyer une requête DELETE avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/users/delete/:userId</code><br> 
            </p>
               <p> userId représente l'identifiant de l'utlisateur qui est de type String
            <br>
            <p> 
                Pour obtenir la liste de tout les utilisateurs, vous devez envoyer une requête GET avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/users/all</code><br> 
            </p>
        </div>

        <div class="overflow-hidden content-section" id="objects">
            <h2>Les Objets</h2>
            <pre><code class="bash">
# ici c'est un exemple utilisant object

object/create
 POST https://freelost-api.kouelab.com/object/create
                </code></pre>
            <p>
                Pour déclarer un objet vous devez envoyer une requête POST avec l'url suivante :<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/object/create</code><br> 
            </p>
            <br>
            <pre><code class="json">
Par exemple:

  requête POST:{
        nomObjet-> "",
        Lieu-> "Dschang"
        Date-> "Sun Jun 06 2021",
        Description-> "j'ai perdu ma carte dans un bus de général dans la ville de dschang"
        Photo-> "1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382",
        Categorie-> "Papiers et documents officiels"
        NomDoc-> "CNI",
        Marque-> ""
        Modele-> "",
        UserNom-> "mezazem"
        UserPrenom-> "beno",
        nationalite-> "camerounaise"
  }

  resultat: {  
    "_id": ObjectId('62ccad588f1b65f689851280),  
    "nomObjet": "",  
    "Lieu": "Dschang ",  
    "Description": "j'ai perdu ma carte dans un bus de général dans la ville de dschang",  
    "Photo": "/images/objects/1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382",  
    "Categorie": "Papiers et documents officiels",  
    "NomDoc": "CNI ",  
    "Marque": "",  
    "Modele": "",  
    "UserNom": "mezazem",  
    "UserPrenom": "beno",  
    "Nationalite": "camerounaise",  
    "DatePerteObjet": "Sun Jun 06 2021",  
    "idUtilisateur": "62ccad588f1b65f689851280", 
    "statut": "Perdu",
    "valider": "non",  
    "__v": 0}
}

/object/edit/:idObject
 PATCH >https://freelost-api.kouelab.com/users/edit/:idObject

requête PATCH:{
    idObject-> "62ccad588f1b65f689851280",
    valider-> "oui",
}

resultat: {  
    "_id": ObjectId('62ccad588f1b65f689851280),  
    "nomObjet": "",  
    "Lieu": "Dschang ",  
    "Description": "j'ai perdu ma carte dans un bus de général dans la ville de dschang",  
    "Photo": "/images/objects/1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382",  
    "Categorie": "Papiers et documents officiels",  
    "NomDoc": "CNI ",  
    "Marque": "",  
    "Modele": "",  
    "UserNom": "mezazem",  
    "UserPrenom": "beno",  
    "Nationalite": "camerounaise",  
    "DatePerteObjet": "Sun Jun 06 2021",  
    "idUtilisateur": "62ccad588f1b65f689851280", 
    "statut": "Perdu",
    "valider": "oui",  
    "__v": 0}
}

                </code></pre>
            <h4>Les paramètres de la requête </h4>

            <table class="central-overflow-x">
                <thead>
                <tr>
                    <th>Champ</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>clé_api</td>
                    <td>String</td>
                    <td>Ta clé de l'API.</td>
                </tr>
                <tr>
                    <td>nomObjet</td>
                    <td>String</td>
                    <td>le nom de l'objet</td>
                </tr>
                <tr>
                    <td>Lieu</td>
                    <td>String</td>
                    <td>lieu de perte ou trouvé</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td>String</td>
                    <td>
                        la date de perte ou trouvé 
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>String</td>
                    <td>la description de l'objet</td>
                </tr>
                <tr>
                    <td>Photo</td>
                    <td>file</td>
                    <td>une image de l'objet</td>
                </tr>
                    <tr>
                    <td>Categorie</td>
                    <td>String</td>
                    <td>la Categorie de l'objet</td>
                    </tr>
                    <tr><td>NomDoc</td><td>String</td><td>le nom du Document</td></tr>
                    <tr><td>Marque</td><td>String</td><td>la marque de l'objet</td></tr>
                    <tr><td>Modele</td><td>String</td><td>le modele de l'objet</td></tr>
                    <tr><td>UserNom</td><td>String</td><td>le nom de celui qui décalre l'objet</td></tr>
                    <tr><td>UserPrenom</td><td>String</td><td>le prenom de celui qui décalre l'objet</td></tr>
                    <tr><td>Nationalite</td><td>String</td><td>la nationalite sur le document</td></tr>
                    <tr><td> DateNaissance</td><td>String</td><td>le date de naissance sur le document</td></tr>
                    <tr><td>UserPrenom</td><td>String</td><td>le prenom de celui qui décalre l'objet</td></tr>
                </tbody>
            </table>
            <p> 
                Pour obtenir la liste de tout les Objets, vous devez envoyer une requête GET avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/object/all</code><br> 
            </p>
            <p> 
                Pour supprimer un objet de la liste, vous devez envoyer une requête DELETE avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/object/clear</code><br> 
            </p>
            <p> 
                Pour qu'un moderateur verifier et valider la déclaration d'un utilisateur, il doit envoyer une requête PATCH avec l'url suivante:<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/object/edit/:idObject</code><br> 
            </p>
        </div>

        <div class="overflow-hidden content-section" id="errors">
            <h2>Les Erreurs</h2>
            <p>
                Freelost utilise les codes d'érreurs suivants:
            </p>
            <table>
                <thead>
                <tr>
                    <th>Code d'Erreur</th>
                    <th>Signification</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ECONNREFUSED</td>
                    <td>
                        Erreur de connexion au serveur en ligne.
                    </td>
                </tr>
                <tr>
                    <td>ENOTFOUND</td>
                    <td>
                        La connexion avec le serveur en ligne a été coupée.
                    </td>
                </tr>
                </tbody>
            </table>
<script src="js/script.js"></script>
</body>
</html>