<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/images/logo.png" />
    <title>FreeLost API</title>
</head>
<body>
    <%- include('./partials/topbar') %>
    <div class="container">
        <%- include('./partials/leftAside') %>

        <div>
            <ul>
                <li>/auth/google</li> pour se connecter avec google (get)
                <li>/auth/signin</li> pour se connecter grace a l' email et le password (post)
                <li>/auth/signout</li>pour deconnecter un utilisateur (get)
                <li>/users/new</li>pour creer un utilisateur . attend 4 champs (post)
            </ul>
        </div>

        <div>
            <ul>
                <li>/Objects</li> pour avoir la liste des Objets (get)
                <li>/Object</li>pour ajouter un nouvel objet  (post)
                <li>/Object/:ObjectId</li> pour rechercher un objet avec son id "un champ" (get)
                <li>/Object/:ObjectId</li> pour supprimer un objet avec son id (delete)
                <li>/Object/:ObjectId</li> pour mettre a jour un objet grace a son id (get)
            </ul>
        </div>

    </div>
    <%- include('./partials/footer') %>

<form action="/auth/signin"></form>

</body>
</html>
<!DOCTYPE html>
