<!--
 API Documentation HTML Template  - 1.0.1
 Copyright © 2016 Florian Nicolas
 Licensed under the MIT license.
 https://github.com/ticlekiwi/API-Documentation-HTML-Template
 !-->
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Freelost API - Documentation</title>
    <meta name="description" content="">
    <meta name="author" content="ticlekiwi">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/hightlightjs-dark.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css" media="all">
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div class="left-menu">
    <div class="content-logo">
        <div class="logo">
            <img alt="platform by Emily van den Heever from the Noun Project" title="platform by Emily van den Heever from the Noun Project" src="images/logo.png" height="60" />
            <span>API Documentation</span>
        </div>
        <button class="burger-menu-icon" id="button-menu-mobile">
            <svg width="34" height="34" viewBox="0 0 100 100">
                <path class="line line1"
                    d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058">
                </path>
                <path class="line line2" d="M 20,50 H 80"></path>
                <path class="line line3"
                    d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942">
                </path>
            </svg>
        </button>
    </div>
    <div class="mobile-menu-closer"></div>
    <div class="content-menu">
        <div class="content-infos">
            <div class="info"><b>Version:</b> 1.0</div>
            <div class="info"><b>Dernière mise à jour :</b> 15 Juil, 2022</div>
        </div>
        <ul>
            <li class="scroll-to-link active" data-target="content-get-started">
                <a>Commencer</a>
            </li>
            <li class="scroll-to-link" data-target="content-get-characters">
                <a>Authentification</a>
            </li>
            <li class="scroll-to-link" data-target="content-get-characters">
                <a>Les Utilisateurs</a>
            </li>
            <li class="scroll-to-link" data-target="content-get-characters">
                <a>Les objets </a>
            </li>
            <li class="scroll-to-link" data-target="content-errors">
                <a>Les Erreurs</a>
            </li>
        </ul>
    </div>
</div>
<div class="content-page">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section" id="content-get-started">
            <h1>Commencer</h1>
            <pre>
    Point d'entrée de l' API

    https://freelost-api.kouelab.com/
                </pre>
            <p>
                L'API Freelost permet de faire la gestion des objets perdus, ainsi de pouvoir gérer tout ce qui est associé comme , les utilisateurs, les objets et leur catégorie, les centres de collecte.
            </p>
            <p>
                Pour utiliser cette API, vous avez besoins de  la <strong>Clé de l'API</strong>. Contactez-nous à  <a href="mailto:contact@freelost-api.kouelab.com">contact@freelost-api.kouelab.com</a> pour avoir ta clé d'API.
            </p>
        </div>
        <div class="overflow-hidden content-section" id="content-get-characters">
            <h2>Authentification</h2>
            <pre><code class="bash">
# ici c'est un exemple utilisant curl
curl \
-X POST https://freelost-api.kouelab.com/auth \
-F 'secret_key=ta_clé_api' \
-F 'email=techsleo@gmail.com' \
-F 'mot de passe=1234' \

                </code></pre>
            <p>
                Pour vous authentifier vous devez envoyer une requête POST avec l'url suivante :<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/google</code> pour se connecter avec google.<br>
                Pour se connecter grâce à l'email et le mot de passe: <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/signin</code> 
            </p>
            <br>
            <pre><code class="json">
Result de l'exemple:

{
  requête:{
      "techsleo@gmail.com",
      "1234"
    ],
  }
  resultat: [
    {
      id: 1,
      first_name: "Leo",
      last_name: "Nguimdo",
      alive: true,
      sexe: "M",
      numero: 670881225,
      ville: "Dschang"
    },
    {
      id: 2,
      first_name: "Eddard",
      last_name: "Stark",
      alive: false,
      sexe: "m",
      age: 35,
      location: 'Winterfell'
    },
    {
      id: 3,
      first_name: "Catelyn",
      last_name: "Stark",
      alive: false,
      house: "Stark",
      gender: "f",
      age: 33,
      location: "Winterfell"
    },
    {
      id: 4,
      first_name: "Roose",
      last_name: "Bolton",
      alive: false,
      house: "Bolton",
      gender: "m",
      age: 40,
      location: "Dreadfort"
    },
    {
      id: 5,
      first_name: "Ramsay",
      last_name: "Snow",
      alive: false,
      house: "Bolton",
      gender: "m",
      age: 15,
      location: "Dreadfort"
    },
  ]
}
                </code></pre>
            <h4>Les paramètres de la requête </h4>
            <table class="central-overflow-x">
                <thead>
                <tr>
                    <th>Champ</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>clé_api</td>
                    <td>String</td>
                    <td>Ta clé de l'API.</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>String</td>
                    <td>l'adresse emailo de celui qui veut se connecter.</td>
                </tr>
                <tr>
                    <td>mot de passe</td>
                    <td>String</td>
                    <td>
                        Le mot de passe de celui veut se connecter 
                    </td>
                </tr>
                <tr>
                    <td>compte google</td>
                    <td>Boolean</td>
                    <td>
                        Le compte google de l'utilisateur en question
                    </td>
                </tr>
                <tr>
                    <td>gender</td>
                    <td>String</td>
                    <td>
                        (optional) a string to filter character by gender:<br>
                        m: male<br>
                        f: female
                    </td>
                </tr>
                <tr>
                    <td>offset</td>
                    <td>Integer</td>
                    <td>(optional - default: 0) A cursor for use in pagination. Pagination starts offset the specified offset.</td>
                </tr>
                <tr>
                    <td>limit</td>
                    <td>Integer</td>
                    <td>(optional - default: 10) A limit on the number of objects to be returned, between 1 and 100.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="overflow-hidden content-section" id="content-errors">
            <h2>Errors</h2>
            <p>
                The Westeros API uses the following error codes:
            </p>
            <table>
                <thead>
                <tr>
                    <th>Error Code</th>
                    <th>Meaning</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>X000</td>
                    <td>
                        Some parameters are missing. This error appears when you don't pass every mandatory parameters.
                    </td>
                </tr>
                <tr>
                    <td>X001</td>
                    <td>
                        Unknown or unvalid <code class="higlighted">secret_key</code>. This error appears if you use an unknow API key or if your API key expired.
                    </td>
                </tr>
                <tr>
                    <td>X002</td>
                    <td>
                        Unvalid <code class="higlighted">secret_key</code> for this domain. This error appears if you use an  API key non specified for your domain. Developper or Universal API keys doesn't have domain checker.
                    </td>
                </tr>
                <tr>
                    <td>X003</td>
                    <td>
                        Unknown or unvalid user <code class="higlighted">token</code>. This error appears if you use an unknow user <code class="higlighted">token</code> or if the user <code class="higlighted">token</code> expired.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-code"></div>
</div>
<!-- Github Corner Ribbon - to remove (Ribbon created with : http://tholman.com/github-corners/ )-->

<!-- END Github Corner Ribbon - to remove -->
<script src="js/script.js"></script>
</body>
</html>