<!--
 API Documentation HTML Template  - 1.0.1
 Copyright © 2016 Florian Nicolas
 Licensed under the MIT license.
 https://github.com/ticlekiwi/API-Documentation-HTML-Template
 !-->
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Freelost API - Documentation</title>
    <meta name="description" content="">
    <meta name="author" content="ticlekiwi">

    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/hightlightjs-dark.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Source+Code+Pro:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css" media="all">
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
<div class="left-menu">
    <div class="content-logo">
        <div class="logo">
            <img alt="platform by Emily van den Heever from the Noun Project" title="platform by Emily van den Heever from the Noun Project" src="images/logo.png" height="60" />
            <span>API Documentation</span>
        </div>
        <button class="burger-menu-icon" id="button-menu-mobile">
            <svg width="34" height="34" viewBox="0 0 100 100">
                <path class="line line1"
                    d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058">
                </path>
                <path class="line line2" d="M 20,50 H 80"></path>
                <path class="line line3"
                    d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942">
                </path>
            </svg>
        </button>
    </div>
    <div class="mobile-menu-closer"></div>
    <div class="content-menu">
        <div class="content-infos">
            <div class="info"><b>Version:</b> 1.0</div>
            <div class="info"><b>Dernière mise à jour :</b> 15 Juil, 2022</div>
        </div>
        <ul>
            <li class="scroll-to-link active" data-target="commencer">
                <a>Commencer</a>
            </li>
            <li class="scroll-to-link" data-target="authentification">
                <a>Authentification</a>
            </li>
            <li class="scroll-to-link" data-target="users">
                <a>Les Utilisateurs</a>
            </li>
            <li class="scroll-to-link" data-target="content-get-characters">
                <a>Les objets </a>
            </li>
            <li class="scroll-to-link" data-target="content-errors">
                <a>Les Erreurs</a>
            </li>
        </ul>
    </div>
</div>
<div class="content-page">
    <div class="content-code"></div>
    <div class="content">
        <div class="overflow-hidden content-section" id="commencer">
            <h1>Commencer</h1>
            <pre>
    Point d'entrée de l' API

    https://freelost-api.kouelab.com/
                </pre>
            <p>
                L'API Freelost permet de faire la gestion des objets perdus, ainsi de pouvoir gérer tout ce qui est associé comme , les utilisateurs, les objets et leur catégorie, les centres de collecte.
            </p>
            <p>
                Pour utiliser cette API, vous avez besoins de  la <strong>Clé de l'API</strong>. Contactez-nous à  <a href="mailto:contact@freelost-api.kouelab.com">contact@freelost-api.kouelab.com</a> pour avoir votre clé d'API.
            </p>
        </div>
        <div class="overflow-hidden content-section" id="authentification">
            <h2>Authentification</h2>
            <pre><code class="bash">
# ici c'est un exemple utilisant auth

auth/sigin
 POST https://freelost-api.kouelab.com/auth/sigin 
                </code></pre>
            <p>
                Pour vous authentifier vous devez envoyer une requête POST avec l'url suivante :<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/google</code> pour se connecter avec google.<br>
                Pour se connecter grâce à l'email et le mot de passe: <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/signin</code> 
            </p>
            <pre><code class="bash">
auth/signout
GET https://freelost-api.kouelab.com/auth/signout 
        </code></pre>
    <p>
        Pour vous deconnecter vous devez envoyer une requête GET avec l'url suivante :<br>
        <code class="higlighted break-word">https://freelost-api.kouelab.com/auth/signout</code><br>
    </p>

            <br>
            <pre><code class="json">
Par exemple:

  requête POST:{
    username-> "techsleo@gmail.com",
    mot de passe-> "1234"
  }

  resultat: 
    {   "_id": ObjectId('62ccad588f1b65f689851280),
        "username": "Leo Nguimdo ",
        "email": "techsleo@gmail.com",  
        "password": "$2b$12$nCyH8FLu9TXlJJE9/8K8cum96kYZR.iM0Dq8sQxMOmHL8zB.GxgyO",
        "numero": 237670881225,  
        "avatar": "/images/avatars/1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382.jpg",  
        "__v": 0,  
        "type": "moderateur"
    },
}
                </code></pre>
            <h4>Les paramètres de la requête POST</h4>
            <table class="central-overflow-x">
                <thead>
                <tr>
                    <th>Champ</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>clé_api</td>
                    <td>String</td>
                    <td>Ta clé de l'API.</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>String</td>
                    <td>l'adresse email de celui qui veut se connecter.</td>
                </tr>
                <tr>
                    <td>mot de passe</td>
                    <td>String</td>
                    <td>
                        Le mot de passe de celui veut se connecter 
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="overflow-hidden content-section" id="users">
            <h2>Les Utilisateurs</h2>
            <pre><code class="bash">
# ici c'est un exemple utilisant users

users/new
 POST https://freelost-api.kouelab.com/users/new
                </code></pre>
            <p>
                Pour creer un nouveau compte vous devez envoyer une requête POST avec l'url suivante :<br>
                <code class="higlighted break-word">https://freelost-api.kouelab.com/users/new</code><br> 
            </p>
            <br>
            <pre><code class="json">
Par exemple:

  requête:{
        username-> "Leo",
        email-> "techsleo@gmail.com"
        password-> "1234",
        numero-> "678654309"
  }

  resultat: 
    {   "_id": ObjectId('62ccad588f1b65f689851280),
        "username": "Leo Nguimdo ",
        "email": "techsleo@gmail.com",  
        "password": "$2b$12$nCyH8FLu9TXlJJE9/8K8cum96kYZR.iM0Dq8sQxMOmHL8zB.GxgyO",
        "numero": 237670881225,  
        "avatar": "/images/avatars/1657709800319-rn_image_picker_lib_temp_dbe52d69-843f-4c4f-94ec-e4ea96c29382.jpg",  
        "__v": 0,  
        "type": "simple"
    },
}
                </code></pre>
            <h4>Les paramètres de la requête </h4>

            <table class="central-overflow-x">
                <thead>
                <tr>
                    <th>Champ</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>clé_api</td>
                    <td>String</td>
                    <td>Ta clé de l'API.</td>
                </tr>
                <tr>
                    <td>username</td>
                    <td>String</td>
                    <td>le nom d'utilisateur de celui qui veut creer son compte.</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>String</td>
                    <td>l'email de celui qui veut creer son compte.</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>String</td>
                    <td>
                        Le mot de passe de celui veut se connecter 
                    </td>
                </tr>
                <tr>
                    <td>numero</td>
                    <td>Number</td>
                    <td>le numero de celui qui veut creer son compte.</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="overflow-hidden content-section" id="content-errors">
            <h2>Errors</h2>
            <p>
                The Westeros API uses the following error codes:
            </p>
            <table>
                <thead>
                <tr>
                    <th>Error Code</th>
                    <th>Meaning</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>X000</td>
                    <td>
                        Some parameters are missing. This error appears when you don't pass every mandatory parameters.
                    </td>
                </tr>
                <tr>
                    <td>X001</td>
                    <td>
                        Unknown or unvalid <code class="higlighted">secret_key</code>. This error appears if you use an unknow API key or if your API key expired.
                    </td>
                </tr>
                <tr>
                    <td>X002</td>
                    <td>
                        Unvalid <code class="higlighted">secret_key</code> for this domain. This error appears if you use an  API key non specified for your domain. Developper or Universal API keys doesn't have domain checker.
                    </td>
                </tr>
                <tr>
                    <td>X003</td>
                    <td>
                        Unknown or unvalid user <code class="higlighted">token</code>. This error appears if you use an unknow user <code class="higlighted">token</code> or if the user <code class="higlighted">token</code> expired.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="content-code"></div>
</div>
<!-- Github Corner Ribbon - to remove (Ribbon created with : http://tholman.com/github-corners/ )-->

<!-- END Github Corner Ribbon - to remove -->
<script src="js/script.js"></script>
</body>
</html>