
.container{
    display: flex;
}
aside{
    width: 20%;
    border-right: 1px solid #08650e;
    height: 80vh;
}

footer{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    position:relative;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    padding: 5px;
}
body{
    overflow: hidden;
}